.successModal {
	position: absolute;
	top: -170; // Расположите модалку вверху
	right: -200; // Расположите модалку справа
	background: rgba(0, 128, 0, 0.9); // Зеленый фон
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	z-index: 1000; // Чтобы модалка была поверх других элементов
	animation: fadeIn 1s ease-in-out; // Анимация появления
}

.formWrapper {
	z-index: 99;
	position: absolute;
	right: 0; // Start hidden off the screen
	width: 335px;
	height: 339px;
	margin-bottom: 80px;
	opacity: 0;
	transform: translateX(100%); // Move off-screen initially
	transition: transform 0.5s ease, opacity 0.5s ease; // Combine opacity with transform
	display: block;

	&.show {
		transform: translateX(0); // Move to visible position
		opacity: 1; // Show form
	}

	.form {
		z-index: 990;
		/* Frame 426 */
		padding: 59px 0px 0px 23px;
		position: relative;
		width: 335px;
		height: 339px;
		border-radius: 8px;
		box-shadow: -1px 0px 23px 1px rgba(207, 207, 207, 0.2);
		background: rgb(31, 39, 49);
		button {
			background-color: transparent;
			border: none;
			width: 290px;
			height: 59px;
			border-radius: 4px;
			cursor: pointer;
			background: rgb(239, 39, 44);
			transition: 0.3s ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.inputWrapper {
		/* Frame 16 */
		display: flex;
		align-items: center;
		width: 223px;
		margin-bottom: 35px;
		height: 52px;
		left: 23px;
		top: 59px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 16;

		.reserve {
			input {
				background-color: transparent;
				border: none;
				width: 154px;
				height: 19px;
				display: flex;
				flex-direction: column;
				font-size: 17px;
				color: rgb(16, 159, 239);

				&::placeholder {
					color: rgb(187, 187, 187);
				}
			}
			.error {
				color: rgb(239, 39, 44);
				font-size: 12px;
				margin-top: 5px;
			}
		}
		.circle {
			width: 52px;
			height: 52px;
			background-color: white;
			border-radius: 50%;
			display: inline-block;
		}
		h1 {
			margin: 10px 0px;
			color: rgb(255, 255, 255);
			font-family: sans-serif;
			font-size: 12px;
			font-weight: 400;
			line-height: 13px;
		}
	}
}

@media (max-width: 1440px) {
	.formWrapper {
		.successModal {
			right: -70;
		}
	}
}
