.About {
  width: 100%;
  background-color: #1b2026;
  padding: 90px 0;

  .content {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 30px;

    .hero {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      h1 {
        font-family: Shalimar;
        font-size: 40px;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .block {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      h1 {
        max-width: 450px;
        width: 100%;
        font-family: Silk Serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 61.36px;
      }

      p {
        font-family: Spartan;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        width: 530px;
        margin-right: 20px;
      }
    }

    .images {
      width: 100%;
      margin-top: 30px;
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 20px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  @media (max-width: 1250px) {
    .content {
      .block {
        h1 {
          // font-size: 35px;
          // width: 100%;
        }

        p {
          width: 100%;
        }
      }

      .images {
        img {
          max-width: 80%;
          height: auto;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .content {
      .block {
        flex-direction: column;
        h1 {
          font-size: 35px;
          width: 100%;
        }

        p {
          width: 100%;
          margin-right: 0;
        }
      }

      .images {
        flex-direction: column;
        align-items: center;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 60px 0;

    .content {
      .hero h1 {
        font-size: 30px;
      }

      .block {
        h1 {
          font-size: 30px;
        }

        p {
          font-size: 14px;
        }
      }

      .images {
        img {
          width: 90%;
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 40px 0;

    .content {
      .hero h1 {
        font-size: 25px;
      }

      .block {
        h1 {
          font-size: 25px;
        }

        p {
          font-size: 12px;
        }
      }

      .images {
        img {
          width: 100%;
        }
      }
    }
  }
}
